body {
    padding: 0;
    margin: 0;
    background-image: url("backgroundimage.avif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
    font-weight: 300;
}

.description-container {
    min-height: 50vh;
    font-size: 2em;
}

.description {
    margin-top: 1em;
    margin-left: 3em;
    margin-right: 3em;
    padding: 1em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    min-width: 300px;
    background-color: rgba(96, 207, 129, 0.9);

}

@media (max-width: 865px) {
    .description-container {
        font-size: 1.5em;
    }
}

.hero {

    height: 100vh;
    min-height: 740px;
    background-image: url("backgroundimage.avif");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .8);
}

.hero .title {
    font-size: 22pt;
    color: #fff;
    float: center;
    margin-left: 1em;
    margin-right: 1em;
    padding: 2em;
    text-align: center;
    background-color: rgba(188, 27, 108, 0.25);
}

.title h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5em;
    letter-spacing: 0.03em;
}

.title h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-style: italic;
    line-height: 0.5em;
}

.hero .nav {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 300;
    color: #fff;
    margin-top: 2em;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
}

.hero .nav a {
    flex-grow: 1;
    color: #fff;
    text-decoration: none;
}

.hero .nav-item {
    font-size: 0.5em;
    padding: 0.5em 1em;
    margin: 0 0.5em;
    text-align: center;
    border: 1px solid #d9d9d9;
    border-width: 1px 0;
}

.hero .nav-item:hover {
    color: #fff;
    background-color: rgba(207, 200, 222, 0.5);
}


@media (max-width: 865px) {
    .hero {
        min-height: 730px;
    }
    .hero .title {
        font-size: 18pt;
    }
}

@media (max-width: 585px) {
    .hero {
        min-height: 500px;
    }
    .hero .title {
        font-size: 14pt;
        margin: 0;
        margin-top: 50px;
    }
}

@media (max-width: 445px) {
    .hero .title {
        font-size: 12pt;
    }
}

.menu {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 2em;
    background-color: rgba(200,0,71,.7);
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 1.5em;
    text-align: center;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, .8);
}

.menu h1 {
    font-family: 'Times New Roman', Times, serif;
}

.menu .menu-group-container {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    justify-content: space-around;
}
.menu .menu-group {
    padding: 1em;
    min-width: 300px;
    max-width: 500px;
}

.menu .menu-head {
    font-style: italic;
    font-size: 2em;
    padding: 1em;
}

.menu .menu-item {
    text-align: left;
    font-style: normal;
    margin-bottom: 20px
}


